@charset "UTF-8";
body{

    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    h1{
        color: rgb(252, 252, 252);
    }
    h1#Principal {
         text-align: center;
         background-color: rgb(150, 134, 100);
         color: rgb(255, 254, 238);
    }

    h2.basico{

        background-color: rgb(111, 247, 0);
        color: black;
    }

    .destak{

        background-color: rgb(0, 108, 250);
    }
    h2.inter{

        background-color: cadetblue;
        color: antiquewhite;
    }
    h2.avan {

        background-color: darkgray;
        color: antiquewhite;
    }

    h2{
        color: rgb(247, 241, 235);
    }
}